body {
    overflow-x: hidden;
}

.modalBackground {
    background: rgba(0, 0, 0, 100);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modalActive {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 12px 12px;
    margin: 8px;
}

.modalWindow {
    position: relative;
}


.ratingContainer {
	width: 800px;
}