body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-shadow: 
    2px 2px 2px  orange,
    4px 4px 2px  yellow,
    6px 6px 2px  green,
    8px 8px 2px  blue,
    10px 10px 2px  purple;

}

.flex {
    display: inline-flex;
    padding: 20px;
}
.toolbar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: solid black;
}
  

.grid div {
    width: 25px;
    height: 25px;
}

.pac-dot {
    background-image: url(/assets/images/chicken.png);
    background-size: cover;
    /* border: 2.5px solid white; */
    box-sizing: border-box;
    z-index: 0;
}

.wall {
    background-color: red;
}

.wall-1 {
    background-color: red;
}

.wall-2 {
    background-color:orange;
}

.wall-3 {
    background-color: yellow;
}

.wall-4 {
    background-color: green;
}

.wall-5 {
    background-color: aqua;
}

.wall-6 {
    background-color: blue;
}

.wall-7 {
    background-color: purple;
}

.wall-8 {
    background-color: black;
}

.power-pellet {
    background-image: url(../assets/images/pho_bo.png);
    background-size: contain;
    border-radius: 10px;
    z-index: 0;
    box-sizing: border-box;
}

.ghost-apple {
    background-image: url(/assets/images/ghosts/apple.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-avocado {
    background-image: url(/assets/images/ghosts/avocado.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}


.ghost-broccoli {
    background-image: url(/assets/images/ghosts/broccoli.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-cucumber {
    background-image: url(/assets/images/ghosts/cucumber.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-lemon {
    background-image: url(/assets/images/ghosts/lemon.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-orange {
    background-image: url(/assets/images/ghosts/orange.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-pumpkin {
    background-image: url(/assets/images/ghosts/pumkin.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.ghost-tomato {
    background-image: url(/assets/images/ghosts/tomato.png);
    z-index: 1;
    background-size: cover;
    box-sizing: border-box;
}

.pac-man {
    background-image: url(/assets/images/Den.png);
    background-size: cover;
    /* width: 10px;
    height: 10px; */
    /* border-radius: 10px; */
}

.scared-ghost {
    background-color: aquamarine;
}

.hidden {
  display: none;
}

.talking-den {
  width: 80%;
  height: 60%;
  background-image: url(/assets/images/den/den_regular.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.difficulty-button {
    width: 30%;
    height: 20%;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    font-size: 20px;
    padding: 5px;
}

.difficulty-button:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    cursor: pointer;
}

.normal-button {
    background: #05a42a;
}

.nightmare-button {
    background: #846926;
}

.hell-button {
    background: #cf1f07;
    box-shadow: 0px 0px 5px red;
}

.restart-button {
    width: 80%;
    height: auto;
    border-radius: 10px;
    color: white;
    transition: .4s linear;
    background: #f60b0b;
    font-size: 30px;
    padding: 5px;
}

.restart-button:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    cursor: pointer;
}

.modalActive {
    background-image: linear-gradient(to bottom right, pink, #f6eee5);
}